* {
  box-sizing: border-box;
  list-style: none;
}

:root {
  --pink: #ff1493;
  --white: #fff;
  --black: #000;
  --platinum: #ebe8e7;
  --tangopink: #ea7186;
  --brightlavender: #bd9dea;
  --toolbox: #7a77b9;
  --orangeyellow: #f2c76e;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: var(--tangopink);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--platinum);

  a {
    color: var(--white) !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 650 !important;
    text-decoration: none !important;
  }
}

.a {
  color: var(--brightlavender) !important;
  &:hover {
    color: var(--tangopink) !important;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: var(--brightlavender);
}

.bg {
  background-color: ivory;
  outline-style: solid;
  outline-width: 10px;
  outline-color: var(--tangopink);
}

.bg2 {
  background-color: ivory;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  height: 20%;
  background-color: #ff1493;
}

@media (min-width: 992px) {
  .modalCarousels {
    width: 80%;
    right: 0%;

    .carousel-control-prev,
    .carousel-control-next {
      width: 10%;
      height: 20%;
      background-color: #ff1493;
    }

    /* Prev button */
    .carousel-control-prev {
      left: 0;
      /* Carousel 왼쪽 바깥으로 조정 */
    }

    /* Next button */
    .carousel-control-next {
      right: 0;
      /* Carousel 오른쪽 바깥으로 조정 */
    }
  }

  .lastCarousel {
    width: 80%;
    left: 45%;

    .carousel-control-prev,
    .carousel-control-next {
      width: 10%;
      height: 20%;
      background-color: #ff1493;
    }

    /* Prev button */
    .carousel-control-prev {
      left: 0;
      /* Carousel 왼쪽 바깥으로 조정 */
    }

    /* Next button */
    .carousel-control-next {
      right: 0;
      /* Carousel 오른쪽 바깥으로 조정 */
    }
  }

  #carouselExampleIndicators {
    width: 55%;
    margin: auto;
  }

  .carousel-control-prev,
  .carousel-control-next {
    /* Prev and Next buttons position */
    top: 50%;
    transform: translateY(-50%);
  }

  /* Prev button */
  .carousel-control-prev {
    left: 209px;
    /* Carousel 왼쪽 바깥으로 조정 */
  }

  /* Next button */
  .carousel-control-next {
    right: 209px;
    /* Carousel 오른쪽 바깥으로 조정 */
  }
}

.modal-body {
  background-color: #f2c76e;
}

@media (min-width: 1550px) {
  .carousel-control-prev {
    left: 262px;
  }

  .carousel-control-next {
    right: 262px;
  }
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carousel-cap {
  width: 15% !important;
  top: -1% !important;
  left: 25.5% !important;
}

.gal-img-btn {
  width: 100%;
  height: 95%;
  border: none;
  position: relative;
  padding: 0;
  background: none;
}

.hover-box {
  width: inherit;
  height: inherit;
  top: 12px;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.hover-box:hover {
  opacity: 1;
}

.img-resize {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.modal-title {
  a {
    color: var(--brightlavender) !important;
  }
}

.txt-bg {
  background-color: var(--white);
}

#circle {
  position: relative;
  top: 20px;
  right: -100px;
  width: 80px;
  height: 80px;
  background: var(--tangopink);
  border-radius: 50%;
}

#footer {
  margin-top: auto;
  background-color: var(--tangopink);

  h5 {
    color: #fff;
  }
}

#bubbles {
  position: relative;
  overflow: hidden;
}

.effect {
  width: 80% !important;
  height: 80% !important;
}

.bubble {
  position: absolute;
  bottom: 0;
  border-radius: 100%;
  display: block;
  animation: rise 3s linear forwards; // Bubbles Going Up
  animation-iteration-count: 1 !important;
}

.fadeIn {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.banner {
  &:hover {
    animation: jump-shaking 0.83s;
    animation-iteration-count: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rise {
  to {
    bottom: 100%;
    opacity: 0;
    /* Disappearing smoothly */
  }
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateY(-7px);
  }

  35% {
    transform: translateY(-7px) rotate(17deg);
  }

  55% {
    transform: translateY(-7px) rotate(-17deg);
  }

  65% {
    transform: translateY(-7px) rotate(17deg);
  }

  75% {
    transform: translateY(-7px) rotate(-17deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

/* Responsive Media Queries */

@media (max-width: 768px) {
  .carousel-item img {
    width: 100% !important;
  }

  .carousel-cap {
    width: 40% !important;
    top: 75% !important;
    left: 30% !important;
  }
}
